.login.row
  .col-md-6.col-md-offset-3.login-container
    %h2 Sign In
    = form_for(:session, url: logging_in_path) do |f|
      = f.text_field :email, class: "form-control", placeholder: "Email"
      -# = f.password_field :password, class: "form-control", placeholder: "Password"
      = f.submit "login", class: "btn-lg pull-right"
