.distance-comparison, .fonts-comparison-partial {

  .description, .font-results {
    text-align: justify;

    h4 {
      line-height: 1.5em;
    }
  }

  .center-title {
    text-align: center;
  }

  .center {
    border-left: solid 1px gray;
    border-right: solid 1px gray;
  }

  .data {
    text-align: justify;
  }
}

.boolean-comparison {

  .description {
    text-align: justify;
    h4 {
      line-height: 1.5em;
    }
  }

  .data {

    .left {
      border-right: solid 1px gray;
    }

    h4 {
      // text-align: center;
    }
  }
}
