@import '../mixins';

.dashboard {
  width: 100%;

  #spinner {
    display: none;
  }

  .results {
    display: none;
    .foo {
      @include box-border();
    }
  }

  .search-icon {
    color: rgb(192, 192, 192);
    left: 10px;
    top: 10px;
    font-size: 1.6em;

    &:hover {
      color: rgb(103, 175, 233);
      transition: color 0.5s ease;
    }
  }
}
