@import '../mixins';

.dashboard {
  width: 100%;

  #spinner {
    display: none;
  }

  .results {
    display: none;
    .foo {
      @include box-border();
      height: 85vh;
      overflow: scroll;
    }
  }

  .search-icon {
    color: rgb(192, 192, 192);
    left: 10px;
    top: 10px;
    font-size: 1.6em;

    &:hover {
      color: rgb(103, 175, 233);
      transition: color 0.5s ease;
    }
  }

  .diagram-link {
    @include box-border();
    color: rgb(192, 192, 192);
    font-size: 1.6em;
    position: absolute;
    margin-left: 1%;
    margin-top: 5%;
    padding: 10px;

    &:hover {
      color: rgb(103, 175, 233);
      transition: color 0.5s ease;
    }
  }
}
