@import '../mixins';

.comparison-inspector {
  @include box-border();
  height: 85vh;
  overflow: scroll;

  .comparison-nav {
    position: fixed;
    background: white;
    width: 82.5%;
    height: 60px;
    z-index: 1;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);

    a {
      width: 10%;
      margin: 12px 0 0vh 1%;
      color: gray;
      border-color: rgb(238, 238, 238);
      font-weight: 900;
      font-family: "Cantarell" sans-serif;
      float: left;

      &:hover {
        transition: background 0.5s ease;
      }
    }
  }

  .compare-attribute {
    margin-top: 100px;

    .comparison-overview {
      @include box-border();
      text-align: center;
      padding: 2% 5%;
      margin-top: 5%;
    }
  }

  .match {
    color: green;
  }

  .no-match {
    color: red;
  }
}
