@import '../mixins';

.comparison-inspector {
  margin-top: 1%;
  height: 85vh;
  overflow: scroll;

  .comparison-nav {
    @include box-border();
    position: fixed;
    background: white;
    margin-left: 2%;
    padding: 11px;

    a {
      width: 100%;
      margin: 0 0 4vh 1%;
      color: gray;
      border-color: rgb(238, 238, 238);
      font-weight: 900;
      font-family: "Cantarell" sans-serif;

      &:hover {
        transition: background 0.5s ease;
      }
    }
  }

  .compare-attribute {

    .comparison-overview {
      @include box-border();
      text-align: center;
      padding: 2% 5%;
      margin-top: 5%;
    }
  }

  .match {
    color: green;
  }

  .no-match {
    color: red;
  }
}
