.row.form.register
  .col-md-8.col-md-offset-2.login-container
    %button.exit.pull-right.btn
      x
    .row
      %h2 Create Account
      .notice
        - if params[:notice] && params[:notice].split(' ').last != 'fingerprint'
          .alert.alert-danger
            = params[:notice]
      = form_tag(users_path, method: :post) do
        = email_field_tag :email, nil, {class: 'form-control', placeholder: 'email'}
        = submit_tag 'Submit', class: 'btn-lg pull-right'
