.splash-page {

  p, span {
    background: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
  }

  p {
    font-family: "Cantarell" sans-serif;
  }

  .splash-title {
    margin-top: 18%;
    font-size: 60px;

    @media (max-width: 1000px) {
      font-size: 30px;
    }
  }
}
