.grid
  -(1..40).each do |i|
    .line
    .lineh

.login-box= render 'login'
.register-box= render 'users/new'

.about
  .about-box
    %h1
      about
    %p
      The <a href="http://en.wikipedia.org/wiki/Device_fingerprint">wikipedia</a> definition for a device fingerprint is "<em>information collected about a remote computing device for the purpose of identification. Fingerprints can be used to fully or partially identify individual users or devices even when cookies are turned off.</em>" secretPlains is a place where users can get a sense of what information is in their devices fingerprint and examine how it changes over time.
