.grid
  -(1..40).each do |i|
    .box
    .line
    .lineh
  .login-box= render 'login'
.container.splash-page
  .row
    %h1.col-md-12.text-center.page-header.splash-title
      s e c r e t P l a i n s
      -# Lorem ipsum dolor sit amet
  .row
    %p.col-md-12.text-center
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
