.grid
  .line-1
  .line-2
  .line-3
  .line-4
  .line-5
  .line-6
  .line-7
  .line-8
  .box-1
  .box-2
  .box-3
  .login-box= render 'login'
.container.splash-page
  .row
    %h1.col-md-12.text-center.page-header.splash-title
      s e c r e t P l a i n s
  .row
    %p.col-md-12.text-center
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
