<div class="container">
  <div class="row">
    <h1 class="col-md-12 text-center page-header">This is an App</h1>
  </div>
  <div class="row">
    <p class="col-md-12 text-center">
      One day this will be an app, but for now this is all there is...
    </p>
  </div>
</div>
