.container.splash-page
  .row
    %h1.col-md-12.col-sm-3.text-center.page-header.splash-title
      Lorem ipsum dolor sit amet
  .row
    %p.col-md-12.text-center
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
%h3=@user
%h3=@user2
