:javascript
  $("document").ready(function(){
    setPrint();
  });

.grid
  -(1..150).each do |i|
    -# .box
    .line
    .lineh

.login-box= render 'login'
.register-box= render 'users/new'

.splash-page
  .row
    %h1.col-md-12.text-center.page-header.splash-title
      %span s e c r e t
      %span P l a i n s
  .row
    %p.col-md-12.text-center
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
