.row
  .col-md-10.col-md-offset-1.comparison-inspector
    .comparison-nav
      -@comparable_attributes.keys.each do |attr|
        .compare-link{class: attr}= link_to( attr.gsub('_', ' '),
          get_comparison_path(attribute: attr,
            original: @original,
            altered: @altered,
            difference: @difference), 
          remote: true,
          class: 'btn btn-default compare-link')
    %hr
    .compare-attribute
