.row
  .col-md-10.col-md-offset-1.comparison-inspector
    .comparison-nav
      -@comparable_attributes.keys.each do |attr|
        %button.btn.btn-default.compare-link{class: attr}= link_to( attr.gsub('_', ' '), get_comparison_path(attribute: attr), remote: true)
      %hr
    .attribute
