$(function () {
  $('.compare-link').click(function () {
    $('.diagram').fadeOut(500);
    $('.compare-prints').delay(500).fadeIn(500);
  });

  $('.diagram-link').click(function () {
    $('.compare-prints').fadeOut(500);
    $('.diagram').delay(500).fadeIn(500);
  });

  $('.compare').on('click', '.btn-lg', function () {
      $('.form').fadeOut(300);

      // $(this).delay(400).queue(function () {
        $('.compare-prints').animate({
          width:30,
          height:30,
          padding:0,
          'margin-left':'1%',
          'margin-top':'-39',
        // }, 800);
      });

    $('.compare-prints').append('<span class="search-icon glyphicon glyphicon-search"></span>');
    $('.search-icon').delay(700).fadeIn(300);
    $('#spinner').delay(500).fadeIn(200);
  });

  $('.compare-prints').on('click', '.search-icon', function () {
    $('.compare-prints').animate({
      width:'40%',
      height:300,
      padding:'3%',
      'margin-left':'30%',
    }, 800);
    $('.search-icon').remove();
    $('.results').fadeOut(300).html('');
    $('.form').fadeIn(300);
  });

});
