/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins.css.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

body {

  h1, h2, h3, h4 {
    font-family: 'Cantarell', sans-serif;
  }

  .header {
    background: transparent;
    font-family: 'Cantarell', sans-serif;
    height: 9vh;

    .brand a {
      float: left;
      padding-left: 2%;
      font-size: 2em;
      // color: rgb(192, 192, 192);
      color: black;

      &:hover {
        color: rgb(103, 175, 233);
        text-decoration: none;
      }
    }

    .links  a{
      float: right;
      color: rgb(192, 192, 192);
      font-size: 1.5em;
      padding-right: 2%;

      &:hover {
        color: rgb(103, 175, 233);
        text-decoration: none;
      }
    }
  }
}
