/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins.css.scss";

body {

  h1, h2, h3, h4 {
    font-family: 'Cantarell', sans-serif;
  }

  .navbar {
    border-color: white;
    background-color: white;
    color: rgb(192, 192, 192);
    font-family: 'Cantarell', sans-serif;

    .register-link, .login-link {
      background-color: transparent;
      color: rgb(192, 192, 192);
      outline-color: white;

      &:focus {
        color: rgb(103, 175, 233);
      }
    }

    .navbar-brand {
      color: rgb(192, 192, 192);

      &:hover {
        color: rgb(103, 175, 233);
      }
    }
  }
}
