/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins.css.scss";

*, *:before, *:after {
  box-sizing: border-box;
}


body {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cantarell', sans-serif;
  }
  overflow: hidden;
}

.notice {
  @include box-border();
  color: red;
  text-align: center;
  padding: 21px;
  width: 30%;
  margin-left: 24%;
  position: absolute;
}
