.dashboard {
  width: 100%;

  .well {
    background: linear-gradient(#F0F0F0, #D0D0D0);
    border-radius: 10px;
  }

  .visual-container {
    width: 100%;

    .attribute {
      display: none;
      position: absolute;
      left: 40px;
      top: 80px;
      width: 75%;
      height: 87%;
    }

    .fonts {
      overflow: scroll;
      font-size: 12px;
    }

    .label {
      display: none;
      position: absolute;
      top: 10px;
      left: 20px;
      color: black;
      font-size: 25px;
    }
  }
}
