
@mixin animate($actions...) {
  -webkit-animation: $actions;
     -moz-animation: $actions;
      -ms-animation: $actions;
          animation: $actions;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name {
    @content;
  }
  @-moz-keyframes $name {
    @content;
  }
  @-ms-keyframes $name {
    @content;
  }
  @keyframes $name {
    @content;
  }
}

@mixin box-border() {
  border: solid 3px rgb(238, 238, 238);
  border-radius: 5px;
  background: white;
}
