.boolean-comparison
  %h3.page-header
    ="#{title} - "
    =matched(match)
  .row.description
    .col-md-12
      %p
        =description
  %h4.page-header
    data
  .row.data
    .col-md-6.left
      %h4
        value in original:
        %span= original
    .col-md-6
      %h4
        value in altered:
        %span= altered
