.boolean-comparison.result-display
  %h2.page-header
    ="#{title} - "
    =matched(match)
  .row.description
    .col-md-12
      %h4
        =description
  %h3.page-header
    data
  .row.data
    .col-md-12
      %h4.page-header
        value in original:
        %span= original
  .row.data
    .col-md-12
      %h4.page-header
        value in altered:
        %span= altered
