.browser-comparison-partial
  = render 'dashboard/comparisons/distance_comparisons',
    title: 'browser version',
    match: @difference.browser_distance == 0,
    description: make_text(rand(200..400)),
    type: 'components',
    original_count: @original.browser.split(' ').count,
    altered_count: @altered.browser.split(' ').count,
    distance: @difference.browser_distance,
    original_components: @original.browser.split(' ').flatten - @difference.browser_intersection,
    altered_components:@altered.browser.split(' ').flatten - @difference.browser_intersection,
    intersection: @difference.browser_intersection
