.browser-comparison-partial
  = render 'dashboard/comparisons/distance_comparisons',
    title: 'browser version',
    match: @difference.browser_distance == 0,
    description: 'Similar to the user agent, the browser version is collected as a string and is then broken down into smaller components by splitting it on every space character. Once broken down into individual components it is compared by first eliminating any matching components that exist in both browser versions, and then the remaining components are converted back into a string. A Levenshtein distance is calculated from the resulting strings.',
    type: 'components',
    original_count: @original.browser.split(' ').count,
    altered_count: @altered.browser.split(' ').count,
    distance: @difference.browser_distance,
    original_components: format_array(@original.browser.split(' ').flatten - @difference.browser_intersection),
    altered_components: format_array(@altered.browser.split(' ').flatten - @difference.browser_intersection),
    intersection: format_array(@difference.browser_intersection)
