.cookies-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'cookies',
    match: @original.cookies == @altered.cookies,
    description: make_text(rand(200..400)),
    original: @original.cookies,
    altered: @altered.cookies
