.cookies-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'cookies',
    match: @original.cookies == @altered.cookies,
    description: 'Most browsers have cookies enabled, however this setting can be controlled by a user. The browser is scanned to see whether the user has cookies turned on or off. It returns a boolean value which either matches or does not match.',
    original: @original.cookies,
    altered: @altered.cookies
