.country-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'country',
    match: @difference.country,
    description: make_text(rand(200..400)),
    original: @original.country,
    altered: @altered.country
