.country-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'country',
    match: @difference.country,
    description: 'Having access to the users ip address allows for geolocation, i.e. the users country is determined by the ip. If for instance a user were to access their fingerprint while using a proxy server, the ip would be read as the proxy servers ip, and the users country would reflect that of the country in which the proxy server is located.',
    original: @original.country,
    altered: @altered.country
