.ip-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'ip',
    match: @difference.ip,
    description: make_text(rand(200..400)),
    original: @original.ip,
    altered: @altered.ip
