.ip-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'ip',
    match: @difference.ip,
    description: 'This is the ip in which the a user accesses the site from. Any difference between two ips is considered not consistant and unmatched.',
    original: @original.ip,
    altered: @altered.ip
