.language-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'language',
    match: @difference.language,
    description: make_text(rand(200..400)),
    original: @original.language,
    altered: @altered.language
