.language-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'language',
    match: @difference.language,
    description: 'Depending on your location or browser settings, browsers can be set to different languages. Each language has a unique identification code. These codes are stored at strings and a match is based in each string being identical.',
    original: @original.language,
    altered: @altered.language
