.plugin-comparison-partial
  = render 'dashboard/comparisons/distance_comparisons',
    title: 'plugins',
    match: @difference.plugins_distance == 0,
    description: 'Lorem ipsum dolor sit amet, eum cibo nobis definitiones cu, pri ex nusquam senserit gloriatur, ad his nostrum omittam laboramus. In idque temporibus delicatissimi nam, ne iusto comprehensam vel, paulo fuisset volutpat ne mea. At semper appellantur sea. Autem quodsi intellegam has at, vim brute veniam mediocritatem ei. In tota graeco dicunt vim, numquam platonem hendrerit vim ad. Cum an choro fuisset',
    type: 'plugins',
    original_count: @original.plugins.count,
    altered_count: @altered.plugins.count,
    distance: @difference.plugins_distance,
    original_components: @original.plugins.flatten - @difference.plugins_intersection,
    altered_components:@altered.plugins.flatten - @difference.plugins_intersection,
    intersection: @difference.plugins_intersection
