.plugin-comparison-partial
  = render 'dashboard/comparisons/distance_comparisons',
    title: 'plugins',
    match: @difference.plugins_distance == 0,
    description: make_text(rand(200..400)),
    type: 'plugins',
    original_count: @original.plugins.count,
    altered_count: @altered.plugins.count,
    distance: @difference.plugins_distance,
    original_components: @original.plugins.flatten - @difference.plugins_intersection,
    altered_components:@altered.plugins.flatten - @difference.plugins_intersection,
    intersection: @difference.plugins_intersection
