.plugin-comparison-partial
  = render 'dashboard/comparisons/distance_comparisons',
    title: 'plugins',
    match: @difference.plugins_distance == 0,
    description: 'Each browser plugin is collected as a list with its name and various detectable attributes and then placed into a list of all plugins. When compared with another fingerprint\'s list of plugins, instead of searching for plugins that are completely identical, every component of each plugin is treated as a single attribute, where upon the intersection of matching plugin attributes is removed. The data is broken down this way so as to eliminate any reference to the order of the plugins list, or the order of individual attributes in a detected plugin. With the matched plugin attributes removed, the remaining plugins in the original fingerprint and altered fingerprint are converted into strings, and a Levenshtein distance is then calculated to determine how different the differences actually are.',
    type: 'plugins',
    original_count: @original.plugins.count,
    altered_count: @altered.plugins.count,
    distance: @difference.plugins_distance,
    original_components: format_array(@original.plugins.flatten - @difference.plugins_intersection),
    altered_components:format_array(@altered.plugins.flatten - @difference.plugins_intersection),
    intersection: format_array(@difference.plugins_intersection)
