.screen-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'screen',
    match: @difference.screen,
    description: make_text(rand(50..150)),
    original: @original.screen,
    altered: @altered.screen
