.screen-comparison-partial
  =render 'dashboard/comparisons/boolean_comparison',
    title: 'screen',
    match: @difference.screen,
    description: 'This is a measurement of the size of the physical screen the user is currently on, not the size of the window they are currently using. Screen sizes are either identical or not, providing a means of knowing whether a user is accessing the site from different devices.',
    original: @original.screen,
    altered: @altered.screen
