.user-agent-comparison-partial
  = render 'dashboard/comparisons/distance_comparisons',
    title: 'user agent',
    match: @difference.user_agent_distance == 0,
    description: make_text(rand(200..400)),
    type: 'components',
    original_count: @original.user_agent.split(' ').count,
    altered_count: @altered.user_agent.split(' ').count,
    distance: @difference.user_agent_distance,
    original_components: @original.user_agent.split(' ').flatten - @difference.user_agent_intersection,
    altered_components:@altered.user_agent.split(' ').flatten - @difference.user_agent_intersection,
    intersection: @difference.user_agent_intersection
